<h3>Log In</h3>

<% if @error %>
    <p class="danger"><%= @error %></p>
<% end %>

<form action="/login" method="post">
    <input type="text" placeholder ="Username" name="username"><br>
    <input type="password" placeholder ="Password" name="password">
    <input type="submit" value="Log In">
</form>

<br>No account? Please <a href="/signup">Sign Up</a> to join the Gearhead Community!