<h3>Join the Gearhead Community!</h3>

<form action="/signup" method="post">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="Sign Up">
</form>

<br><a href="/login">Log In</a>