<h4>Add parts to your car:</h4>
<form action="/parts" method="post">
    <input type="text" name="name" placeholder="Part name"><br>
    <input type="text" name="category" placeholder="Category"><br>
    <br><input type="submit" value="Add parts">
</form>