<h2> Welcome, <%= current_user.username %>!</h2>

<h3>Garage:</h3>
<!-- Display user's current cars -->
<% current_user.cars.each do |car| %>
    <ol><%= car.name %></ol>
<% end %>

<!-- Display this message if user doesn't have any cars in their garage -->
<p>You currently don't have any cars in your garage!</p>


<h3><a href="/cars/new">Add a car to your garage</a></h3>