<% if @error %>
    <p style="color: red;">*<%= @error %>*</p>
<% end %>

<h4>Add a car to your garage:</h4><br>
<form action="/cars" method="post">
    <input type="text" name="year" placeholder="Year"><br>
    <input type="text" name="make" placeholder="Make"><br>
    <input type="text" name="model" placeholder="Model"><br>
    <input type="text" name="color" placeholder="Color"><br>
    <textarea class="textarea" type="text" id="car_parts" name="parts" placeholder="List off your car parts!" rows="4" cols="50"></textarea>
    <br><input type="submit" value="Add car">
</form>

